* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #000;
  background: rgb(239, 245, 246);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 2px solid transparent;
  padding: 5px;
  border-radius: 5px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  gap: 20px;
}

.pagination {
  display: flex;
  gap: 20px;
  margin-block: 20px;
}

.pagination li {
  list-style: none;
}

.page-item {
  min-width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid transparent;
}

.page-link {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-item:not(.disabled):hover,
button:hover {
  background-color: #5E96FC;
  color: #fff;
  cursor: pointer;
}